*~
*.o
*.a
*.pub
dropbear_hostkey_*
dropbear_*_host_key
id_*
authorized_keys*
known_hosts*
core
/Makefile
/dropbearmulti
/dropbearmulti.static
/dropbearmulti.[0-9]
/dropbearmulti.[1-9][0-9]
/config.h
/config.log
/config.status
/tags
libtomcrypt/Makefile
libtommath/Makefile
